# Perform sentimental analysis on the Elon-musk tweets (Elon-musk.csv)

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import spacy #for language models

from matplotlib.pyplot import imread
from wordcloud import WordCloud
%matplotlib inline

In [2]:
tweet = pd.read_csv(r"C:/Users/Saily/OneDrive/Documents/assignment Ds1/Elon_musk.csv",encoding='ISO-8859-1')
tweet

      Unnamed: 0                                               Text
0              1                             @kunalb11 Im an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]

In [3]:
#renaming text column as tweet
#tweet.rename({'Text':'tweets'},axis=1,inplace = True)

In [4]:
tweet.head()

   Unnamed: 0                                               Text
0           1                             @kunalb11 Im an alien
1           2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2           3                @joerogan @Spotify Great interview!
3           4                    @gtera27 Doge is underestimated
4           5  @teslacn Congratulations Tesla China for amazi...

In [5]:
#dropping 1 column Unnamed:0
tweet.drop(['Unnamed: 0'],axis=1,inplace=True)

In [6]:
tweet.tail()

                                                   Text
1994  @flcnhvy True, it sounds so surreal, but the n...
1995  @PPathole Make sure to read ur terms &amp; con...
1996                @TeslaGong @PPathole Samwise Gamgee
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998                          Progress update August 28

In [7]:
tweet.isna()

       Text
0     False
1     False
2     False
3     False
4     False
...     ...
1994  False
1995  False
1996  False
1997  False
1998  False

[1999 rows x 1 columns]

In [8]:
tweet.isna().sum()

Text    0
dtype: int64

In [10]:
#Load stop words
stop = pd.read_csv(r"C:/Users/Saily/OneDrive/Documents/assignment Ds1/stop.txt", encoding = "ISO-8859-1")
stop.head()

           a
0        a's
1       able
2      about
3      above
4  according

In [11]:
#Remove all types of punctuations, numbers, special characters and lower letters
import re #regular expression
import string #for doing operation on strings

In [12]:
raw_tweets = tweet.copy()

In [13]:
def clean_text(text):
    text = re.sub(r'@[A-Z_a-z_0-9_]+', '', text)
    text = re.sub(r'https?:\/\/\S+', '', text)
    text = re.sub(r'#', '', text)     
    text = text.lower()
    return text

In [14]:
raw_tweets['Text'] = tweet['Text'].apply(clean_text)
raw_tweets

                                                   Text
0                                          im an alien
1      ray tracing on cyberpunk with hdr is next-lev...
2                                      great interview!
3                                doge is underestimated
4      congratulations tesla china for amazing execu...
...                                                 ...
1994   true, it sounds so surreal, but the negative ...
1995   make sure to read ur terms &amp; conditions b...
1996                                     samwise gamgee
1997   altho dumb and dumber is <u+0001f525><u+0001f...
1998                          progress update august 28

[1999 rows x 1 columns]

In [15]:
def thorough_clean(text):
  text = re.sub('[^A-Za-z0-9]', ' ', text)
  return(text)

raw_tweets['Text'] = raw_tweets['Text'].apply(thorough_clean)
raw_tweets

                                                   Text
0                                          i m an alien
1      ray tracing on cyberpunk with hdr is next lev...
2                                      great interview
3                                doge is underestimated
4      congratulations tesla china for amazing execu...
...                                                 ...
1994   true  it sounds so surreal  but the negative ...
1995   make sure to read ur terms  amp  conditions b...
1996                                     samwise gamgee
1997   altho dumb and dumber is  u 0001f525  u 0001f...
1998                          progress update august 28

[1999 rows x 1 columns]

In [16]:
#Word frequency of raw_tweets
freq_uncleaned = pd.Series(' '.join(raw_tweets['Text']).split()).value_counts()[:20] # for top 20
freq_uncleaned

the     487
to      400
a       357
is      356
u       319
of      315
in      221
amp     219
it      194
for     194
s       173
we      172
will    165
be      157
that    149
this    140
i       137
on      129
rt      127
but     126
dtype: int64

In [17]:
import nltk
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [18]:
from nltk.corpus import stopwords

In [19]:
#removing stopwords

raw_tweets['Text'] = raw_tweets['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [20]:
raw_tweets

                                                   Text
0                                          i m an alien
1     ray tracing on cyberpunk with hdr is next leve...
2                                       great interview
3                                doge is underestimated
4     congratulations tesla china for amazing execut...
...                                                 ...
1994  true it sounds so surreal but the negative pro...
1995  make sure to read ur terms amp conditions befo...
1996                                     samwise gamgee
1997     altho dumb and dumber is u 0001f525 u 0001f525
1998                          progress update august 28

[1999 rows x 1 columns]

In [21]:
#word frequency after removal of stopwords
freq_cleaned = pd.Series(' '.join(raw_tweets['Text']).split()).value_counts()[:20] # for top 20
freq_cleaned

the     487
to      400
is      356
u       319
of      315
in      221
amp     219
for     194
it      194
s       173
we      172
will    165
be      157
that    149
this    140
i       137
on      129
rt      127
but     126
with    108
dtype: int64